body{
    background-color: rgba(145, 153, 5, 0.763);
}

.heading{
    background-color: burlywood;
    width: 170px;
    height: 50px;
    font-size: 25px;
   /* margin: 50px 100px 30px 80px;  /*top right bottom left*/
   /* margin: 200px 100px;  /* vertical and horizontal*/
    /* margin: 30px; */
    margin: 0 auto 0 auto;
    padding: 10%; 
}

.para{
    background-color: brown;
    height: 60px;
    width: 60%;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto 0 auto;
    /* padding-left: auto;
    padding-right: auto; */
    /* text-align: center; */
    text-align:center;
    padding-top: 10%;
    padding-bottom: 10%;
}

/* dimensions */

.aBox1{ 
    background-color:rgba(212, 164, 8, 0.979);
    height: 150px;
    width: 150px;
    font-size: 50px;
    /* border: 10px solid rgb(255, 225, 0); */
    border-radius: 40% 40%;
    display: inline;
    position: relative;
}

.aBox2{ 
    background-color:rgba(212, 103, 8, 0.979);
    height: 150px;
    width: 150px;
    font-size: 50px;
    /* border: 10px solid rgb(255, 225, 0); */
    border-radius: 40% 40%;
    display: inline;
    position: absolute;
    margin: 100px 100px;
    text-align: center;
}

.aBox3{ 
    background-color:rgba(237, 70, 14, 0.979);
    height: 150px;
    width: 150px;
    font-size: 50px;
    /* border: 10px solid rgb(255, 225, 0); */
    border-radius: 40% 40%;
    display: inline;
    position: relative;
}

img{
    width: 200px;
    height: 200px;
    border: 10px solid teal;
    border-radius: 30%;
}
/* inline */
h3{
    display: inline;
}

/* .para{
    display: inline;
} */

div{
    display: inline-block;
}/
